@charset "UTF-8";
/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/
.cardWrapBox {
  margin-top: 0.6666666667rem;
}

.cardBox {
  display: grid;
  grid-template-columns: 1fr 23px;
  gap: 0.8666666667rem;
  padding: 1.3333333333rem;
  border-radius: 5px;
}
.cardBox-inner_bottom {
  grid-column: 1/3;
  padding-top: 0.8666666667rem;
  border-top: 1px solid #edeff1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.cardBox-title_text {
  color: #FF6202;
  font-size: 1.2rem;
}