@charset "UTF-8";
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/
* {
  font-family: "Pretendard";
}

.mt10 {
  margin-top: 0.6666666667rem;
}

.mt20 {
  margin-top: 1.3333333333rem;
}

.mt30 {
  margin-top: 2rem;
}

.mt40 {
  margin-top: 2.6666666667rem;
}

.mt50 {
  margin-top: 3.3333333333rem;
}

.mb10 {
  margin-bottom: 0.6666666667rem;
}

.mb20 {
  margin-bottom: 1.3333333333rem;
}

.mb30 {
  margin-bottom: 2rem;
}

.mb40 {
  margin-bottom: 2.6666666667rem;
}

.mb50 {
  margin-bottom: 3.3333333333rem;
}

.maxWidth50 {
  max-width: 50%;
}

.wrap {
  background-color: #EEEFF1;
  overflow-x: hidden;
}

.main {
  min-height: calc(100vh - 184px);
  padding-top: 5.4666666667rem;
}

.main-inner {
  width: 1820px;
  margin: 0 auto;
}

.commonPageBox_ly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3333333333rem;
}

.contentsBox_ly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1.3333333333rem;
}

.tableBox_ly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
}

.lnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lnb-link {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
}
.lnb-link.isActive {
  color: #FF6202;
}
.lnb-link:not(:last-child) {
  margin-right: 1rem;
}
.lnb-link:not(:last-child)::after {
  content: "\f105";
  font-family: fontAwesome;
  position: absolute;
  right: -13px;
  top: 51%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 10px;
}

.box {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 0;
  border: none;
  outline: none;
  color: #000;
  background: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.8rem;
  gap: 0.3333333333rem;
  font-weight: inherit;
  cursor: pointer;
}
.btn_xxs {
  width: 1.4666666667rem;
  height: 1.4666666667rem;
  border-radius: 3px;
  font-size: 0.8666666667rem;
  color: #000;
  background-color: #edeff1;
}
.btn_xs {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  border-radius: 3px;
  font-size: 1.0666666667rem;
}
.btn_xs_tran {
  background-color: transparent;
  border: none;
  color: #494B4C;
}
.btn_xs_gray {
  border: none;
  font-size: 0.8666666667rem;
  color: #fff;
  background-color: #666;
}
.btn_s {
  border-radius: 3px;
  padding: 0.2666666667rem 0.6666666667rem;
  font-size: 0.6666666667rem;
}
.btn_s_del {
  background-color: #F4F4F4;
  border: 1px solid #D7D7D7;
  padding: 0.2rem 0.5333333333rem;
  font-size: 0.8rem;
  color: #4B4B4B;
  display: none;
}
.btn_s_del.start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.btn_s_outline {
  border: 1px solid #E9E9E9;
}
.btn_m {
  padding: 0 0.8666666667rem;
  border-radius: 3px;
  font-size: 0.8666666667rem;
  color: #fff;
  height: 34px;
}
.btn_m i {
  padding-top: 4px;
}
.btn_m_primary {
  background-color: #FF6202;
}
.btn_m_secondary {
  background-color: #FF790D;
}
.btn_m_secondary i {
  padding-top: 3px;
}
.btn_m_excel {
  background-color: #107C41;
}
.btn_m_back {
  background-color: #999;
}
.btn_m_cancel {
  background-color: #666;
}
.btn_m_search {
  min-width: 8.6666666667rem;
  color: #fff;
  background-color: #FF6202;
}
.btn_m_align {
  color: #969495;
  padding: 0.3333333333rem;
  font-size: 18px;
}
.btn_m_align.isActive {
  color: #FF6202;
}
.btn_m.disable {
  background-color: #71706E;
}
.btn_l {
  padding: 0.8rem 0;
  height: 2.6666666667rem;
  border-radius: 3px;
  color: #fff;
}
.btn_l_reg {
  min-width: 9.3333333333rem;
  background-color: #FF6202;
  font-size: 0.9333333333rem;
}
.btn_l_cl {
  min-width: 5.3333333333rem;
  background-color: #656565;
}
.btn_full {
  width: 100%;
  height: 50px;
  background-color: #F3F7FD;
  border-radius: 3px;
  border: 1px solid #D2D2D2;
  font-size: 1.0666666667rem;
  font-weight: 600;
  color: #4B4B4B;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn_arrow {
  width: 1rem;
  height: 1rem;
  background-color: #EDEEF2;
  color: #ADAEAF;
  border-radius: 6px;
  font-size: 10px;
}
.btn_arrow.prev {
  margin-right: 0.6666666667rem;
}
.btn_arrow.next {
  margin-left: 0.6666666667rem;
}
.btn_num {
  height: 1.2rem;
  line-height: 1rem;
  font-size: 0.8666666667rem;
  color: #777777;
}
.btn_num.isActive {
  color: #FF6202;
  font-weight: 700;
}
.btn_tab {
  height: auto;
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #9D9D9D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn_tab ~ .btn_tab {
  margin-left: 1.8rem;
}
.btn_tab.isActive {
  color: #FF6202;
  font-weight: 700;
}

.select,
.input_text,
.input_date {
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}

.label {
  font-size: 0.8rem;
  font-weight: 600;
}
.label strong {
  font-size: 1.0666666667rem;
}
.label_file {
  margin-right: 0.7333333333rem;
}
.label_form {
  font-size: inherit;
  font-weight: inherit;
  color: #727272;
}

.input_text {
  min-width: 300px;
}
.input_text:disabled {
  background-color: #f1f1f1;
  border: 1px solid #D2D2D2;
}
.input_text_formInput {
  font-size: 0.9333333333rem;
  color: #727272;
}
.input_text_formInput.noInput {
  pointer-events: none;
  background-color: #F1F1F1;
}
.input_text_formInput:disabled {
  background-color: transparent;
  border: none !important;
}
.input_table {
  width: 50px;
  text-align: center;
}
.input_file {
  display: none;
}
.input_radio {
  display: none;
}
.input_radio:checked + .radioChk::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FF6202;
}
.input_radio + .radioChk {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px inset #D2D2D2;
          box-shadow: 0 0 0 1px inset #D2D2D2;
  vertical-align: middle;
}
.input_date {
  height: 2.3333333333rem;
  border: 1px solid #D2D2D2;
  width: 100%;
}
.input_checkbox {
  display: none;
}
.input_checkbox:checked + .checkboxChk::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background-color: #FF6202;
}
.input_checkbox + .checkboxChk {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 13px;
  height: 13px;
  -webkit-box-shadow: 0 0 0 1px inset #D2D2D2;
          box-shadow: 0 0 0 1px inset #D2D2D2;
}

.select {
  position: relative;
  min-width: 200px;
}

.radioBox ~ .radioBox {
  margin-left: 0.6666666667rem;
}

.inputLabelGroupBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3333333333rem;
}
.inputLabelGroupBox_s label {
  font-size: 0.9333333333rem;
}
.inputLabelGroupBox_s .checkboxChk {
  margin-right: 10px;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}

.inputBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5333333333rem;
}
.inputBox_select {
  background-color: #fff;
  border-radius: 3px;
}
.inputBox_select::after {
  content: "\f078";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  font-family: fontAwesome;
}
.inputBox_select:has(.select_formSelect:disabled) {
  border: none !important;
}
.inputBox_select:has(.select_formSelect:disabled)::after {
  content: "";
}
.inputBox_select .select {
  -webkit-appearance: none;
  background-color: transparent;
  z-index: 9;
  font-size: 0.9333333333rem;
  color: #727272;
}
.inputBox_select .select_formSelect:disabled {
  border: none;
}
.inputBox_textarea .input_textarea {
  resize: none;
  width: calc(100% - 10px);
  height: 7.6666666667rem;
  padding: 15px 10px;
  border: 1px solid #D2D2D2;
  border-radius: 3px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9333333333rem;
  color: #727272;
}
.inputBox_textarea .input_textarea:disabled {
  border: none;
  background-color: transparent;
}

.inputWrapBox {
  background-color: #fff;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  min-width: 22rem;
}
.inputWrapBox .input_text {
  width: calc(100% - 38px);
  height: 30px;
  background-color: transparent;
  border: none;
  min-width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.inputWrapBox i {
  font-size: 0.9333333333rem;
}

.detailBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.3333333333rem;
}
.detailBox-half {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px;
}

.innerBox {
  padding: 2rem;
  border-radius: 10px;
}
.innerBox ~ .innerBox {
  margin-top: 1.3333333333rem;
}

.subTitleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 13px;
}
.subTitleBox.sectionTitle {
  border-bottom: 1px dashed #e9e9e9;
  padding-bottom: 10px;
  margin-bottom: 2rem;
}
.subTitleBox.sectionTitle .subTitleBox-subTitle {
  font-size: 1.5333333333rem;
  font-weight: 700;
}
.subTitleBox_bt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.subTitleBox_st {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.subTitleBox_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.subTitleBox-subTitle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6666666667rem;
  font-size: 1.3333333333rem;
  font-weight: 600;
}
.subTitleBox-descText {
  font-size: 0.8rem;
  color: #4B4B4B;
}

.subTitleBox-subTitle ~ .subTitleBox-descText {
  margin-top: 0.6666666667rem;
}

.primaryText {
  font-size: 0.8rem;
  color: #4B4B4B;
}

.lightText {
  font-size: 1.0666666667rem;
  font-weight: 400;
}

.boldText {
  font-size: 1.4666666667rem;
  font-weight: 600;
}

.getFileNameText {
  font-size: 0.8666666667rem;
  font-weight: 600;
  color: #777;
}
.getFileNameText + .btn {
  grid-column: -1/-1;
}

.popupSubTitleText {
  position: relative;
  padding-left: 0.6666666667rem;
  font-size: 1.0666666667rem;
}
.popupSubTitleText::after {
  content: "";
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #FF6202;
}

.uploadFileBox-inputWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, auto));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3333333333rem 1rem;
  border-radius: 5px;
  background-color: #f6f6f6;
}

.uploadFileListBox {
  margin-top: 0.6666666667rem;
  background-color: #F3F7FD;
  border-radius: 3px;
  padding: 0.8666666667rem 1rem;
}
.uploadFileListBox-item ~ .uploadFileListBox-item {
  margin-top: 0.8666666667rem;
}

.chip_excel {
  padding: 5px 4px;
  font-size: 0.8rem;
  border-radius: 3px;
  background-color: #107C41;
  color: #fff;
}

.addGroupBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1333333333rem;
}
.addGroupBox-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex_shrink {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex_jc_st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_jc_bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid_col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3333333333rem;
}

.chkAreaBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 320px;
  background-color: #F3F7FD;
}
.chkAreaBox .innerText {
  font-size: 1.3333333333rem;
  color: #4B4B4B;
}