@charset "UTF-8";
/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/
.infoBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #D2D2D2;
}
.infoBox ~ .infoBox {
  margin-top: 0.8666666667rem;
}
.infoBox.addDelBtn .btn_s_del {
  display: block;
}
.infoBox-cate, .infoBox-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.infoBox-info {
  color: #727272;
}
.infoBox-cate {
  text-align: center;
}
.infoBox-cate.em {
  background-color: #F3F7FD;
}
.infoBox-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D2D2D2;
  background-color: #fff;
}
.infoBox-inner_full {
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.infoBox-inner_full .infoBox-info .inputBox {
  width: 100%;
}
.infoBox-inner_full .infoBox-info .inputBox_select {
  max-width: 167px;
}
.infoBox-inner_full .infoBox-info .inputBox_input {
  max-width: 265px;
}
.infoBox-inner_full .infoBox-info .inputBox_input.full {
  max-width: unset;
}
.infoBox-inner_full_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
  border-bottom: none;
}
.infoBox-inner .infoBox-cate {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.infoBox-info {
  width: calc(100% - 150px);
  padding: 8px 0 8px 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.infoBox-info_bt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.infoBox-info_desc {
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #f4f4f4;
}
.infoBox-info_form {
  padding-left: 15px;
  width: calc(100% - 152px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.infoBox-info_form .inputBox {
  width: 100%;
}
.infoBox-info_form .inputBox .select,
.infoBox-info_form .inputBox .input_text {
  border-radius: 5px;
}
.infoBox-info_form .inputBox_select {
  width: 167px;
  height: 53px;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
}
.infoBox-info_form .inputBox .select {
  min-width: 100%;
}
.infoBox-info_form .inputBox .input_text {
  min-width: unset;
  width: 100%;
  height: 35px;
  border: 1px solid #D2D2D2;
}
.infoBox-info_form .inputBox .input_date {
  font-size: 0.9333333333rem;
  color: #727272;
}
.infoBox-info_form .inputBox .input_date:disabled {
  background-color: transparent;
  border: none;
}
.infoBox-info.offInput .customSelectBox_wrap {
  width: calc(100% - 30px);
}
.infoBox-info.offInput .customSelectBox_wrap .customSelectBox-textVal {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.infoBox-info.offInput .inputBox {
  display: none;
}
.infoBox-info.offInput .subTitleBox_st {
  display: none;
}
.infoBox-info.onInput > .btn {
  display: none;
}
.infoBox-info.onInput .customSelectBox-textVal {
  display: none;
}
.infoBox-info.onInput .customSelectBox_wrap {
  width: calc(100% - 120px);
}
.infoBox-info.onInput .inputBox {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.infoBox-info.onInput .inputBox .input_text {
  width: calc(100% - 20px);
  border: 1px solid #D2D2D2;
}
.infoBox-info.onInput > .subTitleBox_st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3333333333rem;
}
.infoBox-cate {
  min-width: 6.6666666667rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 125px;
          flex: 0 0 125px;
  padding: 1.3333333333rem 0;
  background-color: #f4f4f4;
  font-size: 0.9333333333rem;
  color: #666666;
}
.infoBox-cate_search {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 0.6666666667rem;
  width: 100%;
  padding: 0 0 18px 0;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}
.infoBox-cate_search > .btn {
  max-width: 100px;
  justify-self: flex-end;
}

.sectionBox ~ .sectionBox {
  margin-top: 2.2666666667rem;
}

.innerSearchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3333333333rem;
}

.customSelectBox {
  position: relative;
}
.customSelectBox_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6666666667rem;
}
.customSelectBox-btn {
  font-size: 16px;
}
.customSelectBox-btn_value {
  height: 2.0666666667rem;
  padding: 0.6666666667rem;
  border: 1px solid #E3E3E3;
  border-radius: 3px;
}
.customSelectBox-btn_value::after {
  content: "\f078";
  color: #BCBCBC;
  font-family: fontAwesome;
  font-size: 10px;
  font-weight: 600;
}
.customSelectBox-btn.active + .customSelectBox-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.customSelectBox-btn_option i {
  pointer-events: none;
}

.customSelectBox-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 35px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 50px;
  padding: 0.3333333333rem 0;
  border: 1px solid #E3E3E3;
  background-color: #fff;
  display: none;
}
.customSelectBox-options .input_date {
  height: auto;
}
.customSelectBox-textVal {
  font-size: 0.8rem;
}

.fa-face-smile {
  color: #0084e9;
}
.fa-face-meh {
  color: #ffcc00;
}
.fa-face-frown {
  color: #ff4734;
}
.fa-circle-xmark {
  color: #959595;
}

.filterChkListBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3333333333rem;
  max-width: 16rem;
  padding: 0.6666666667rem 1.3333333333rem;
}
.filterChkListBox-inner:first-child {
  padding-right: 1.3333333333rem;
  border-right: 1px solid #DDDDDD;
}
.filterChkListBox-title {
  margin-bottom: 0.6666666667rem;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
.filterChkListBox label {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000;
}
.filterChkListBox .input_checkbox + .checkboxChk {
  vertical-align: text-top;
}
.filterChkListBox .inputLabelGroupBox ~ .inputLabelGroupBox {
  margin-top: 0.6666666667rem;
}
.filterChkListBox .btn {
  grid-column: 1/3;
}

.setDateBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6666666667rem;
  padding: 0.6666666667rem 1.3333333333rem;
}
.setDateBox .filterChkListBox-title {
  margin-bottom: 5px;
}
.setDateBox .input_date {
  border: 1px solid #E9E9E9;
  font-size: 0.8666666667rem;
  font-weight: 600;
}
.setDateBox .btnsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}
.setDateBox .btn_s {
  font-size: 0.8666666667rem;
  font-weight: 400;
  color: #4B4B4B;
}
.setDateBox .btn_s.active {
  color: #FF6202;
  border: 1px solid #FF6202;
  background-color: #FFF8F1;
}

.timelineBox {
  width: 100%;
  max-height: 20.1333333333rem;
  padding: 1.0666666667rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.timelineBox-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2666666667rem 1.5333333333rem;
  border-radius: 2rem;
  color: #000;
  background-color: #dfdfdf;
  font-size: 0.8rem;
  font-weight: 600;
}
.timelineBox-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.timelineBox-desc_icon {
  font-size: 0.6666666667rem;
  color: #fff;
}
.timelineBox-desc_icon.blue {
  color: #387BC9;
}
.timelineBox-desc_icon.yellow {
  color: #F9C541;
}
.timelineBox-desc_icon.gray {
  color: #8C8C8C;
}
.timelineBox-desc_icon.red {
  color: red;
}
.timelineBox-desc_time {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0.8rem;
  font-weight: 600;
}
.timelineBox-desc_cate {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 2px 5px;
  color: #4B4B4B;
  background-color: #fff;
  border: 1px solid #959595;
  font-size: 0.6rem;
}
.timelineBox-desc_text {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
}
.timelineBox-title ~ .timelineBox-desc, .timelineBox-desc ~ .timelineBox-title, .timelineBox-desc ~ .timelineBox-desc {
  margin-top: 15px;
}

.stickersBox {
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0 11px;
  background-color: #fff;
  border: 1px solid #FF6202;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #4B4B4B;
}

.codeListBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 1.0666666667rem;
  font-size: 0.9333333333rem;
  font-weight: 600;
  border-radius: 3px;
  background-color: #F3F7FD;
}
.codeListBox ~ .infoBox {
  margin-top: 1rem;
}

.profileTabs {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1.3333333333rem;
}

.profileBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.1333333333rem;
  border-radius: 10px;
}

.userInfoText {
  text-align: center;
}

.imgBox {
  width: 125px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

.imgBox ~ .lightText {
  margin-top: 1.2666666667rem;
}

.lightText ~ .boldText {
  margin-top: 0.8rem;
}

.tabBtnsBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.0666666667rem;
  padding: 2.2rem 2.1333333333rem;
  border-radius: 10px;
}

.tabWrapBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  gap: 0.8666666667rem;
}

.arrowBtns {
  height: 2.8666666667rem;
  padding-left: 1.5333333333rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);
  border-radius: 3px 0 0 3px;
}
.arrowBtns:nth-child(1) {
  color: #fff;
  background-color: #F7B401;
}
.arrowBtns:nth-child(2) {
  color: #fff;
  background-color: #F89E00;
}
.arrowBtns:nth-child(3) {
  color: #fff;
  background-color: #FF9000;
}
.arrowBtns:nth-child(4) {
  color: #fff;
  background-color: #FF6201;
}
.arrowBtns:nth-child(5) {
  color: #fff;
  background-color: #E83E0B;
}
.arrowBtns.disable {
  color: #666;
  background-color: #f4f4f4;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.arrowBtns:last-child {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
  border-radius: 5px 15px 15px 5px;
}

.textBox {
  border-radius: 3px;
  font-size: 0.9333333333rem;
}
.textBox-title {
  margin-bottom: 0.6666666667rem;
  font-weight: 700;
}
.textBox-title i {
  color: #959595;
}
.textBox-desc {
  font-size: 1rem;
  padding-left: 1.3333333333rem;
}
.textBox-desc_dot {
  position: relative;
  padding-left: 2.3333333333rem;
}
.textBox-desc_dot::before {
  content: "-";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25px;
}

.textBox-desc ~ .textBox-desc {
  margin-top: 0.3333333333rem;
}