@charset "UTF-8";
/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/
.popupBox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.popupBox-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  max-width: 61.6rem;
  padding: 2.8rem 3.8666666667rem;
  border-radius: 1.6rem;
  background-color: #fff;
}
.popupBox .subTitleBox {
  padding-bottom: 1.3333333333rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #E9E9E9;
}
.popupBox .subTitleBox-subTitle {
  font-size: 1.3333333333rem;
  font-weight: 700;
}
.popupBox .arrowBtns:first-child:nth-last-child(3),
.popupBox .arrowBtns:first-child:nth-last-child(3) ~ .arrowBtns {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.popupBox .arrowBtns:first-child:nth-last-child(4),
.popupBox .arrowBtns:first-child:nth-last-child(4) ~ .arrowBtns {
  -webkit-clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%);
}
.popupBox .arrowBtns:first-child:nth-last-child(5),
.popupBox .arrowBtns:first-child:nth-last-child(5) ~ .arrowBtns {
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}
.popupBox .infoBox ~ .infoBox {
  margin-top: 0;
}

.searchGroupBox .inputBox ~ .resBox {
  margin-top: 0.6666666667rem;
}
.searchGroupBox .input_text {
  border: 1px solid #E9E9E9;
}
.searchGroupBox .input_text::-webkit-input-placeholder {
  color: #aaa;
}
.searchGroupBox .input_text::-moz-placeholder {
  color: #aaa;
}
.searchGroupBox .input_text:-ms-input-placeholder {
  color: #aaa;
}
.searchGroupBox .input_text::-ms-input-placeholder {
  color: #aaa;
}
.searchGroupBox .input_text::placeholder {
  color: #aaa;
}
.searchGroupBox .resBox {
  border-radius: 3px;
  background-color: #eee;
}
.searchGroupBox .resBox-inner_res, .searchGroupBox .resBox-inner_input {
  padding: 0.6666666667rem 1.3333333333rem;
}
.searchGroupBox .resBox-inner_res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10rem;
  max-height: 10rem;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
  overflow-y: auto;
}
.searchGroupBox .resBox-inner_res .em {
  color: #FF6202;
}
.searchGroupBox .resBox-inner_input .input_text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.searchGroupBox .isRes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.searchGroupBox .isRes .btn {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.searchGroupBox + .inputLabelGroupBox .label {
  font-size: 1.0666666667rem;
}
.searchGroupBox + .inputLabelGroupBox .label .checkboxChk {
  vertical-align: middle;
}

.popup-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3333333333rem;
}
.popup-detail .subTitleBox:not(:first-child) {
  margin-top: 2.6666666667rem;
}
.popup-desc {
  font-size: 0.9333333333rem;
  font-weight: 400;
}
.popup-desc .em {
  color: #FF6202;
}
.popup-desc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2666666667rem;
}
.popup-btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
}

.popupDetailTitle {
  padding-left: 0.6666666667rem;
  border-left: 3px solid #FF6202;
}
.popupDetailTitle:not(:first-child) {
  margin-top: 1.3333333333rem;
}

.btn_pop i {
  font-size: 1.5333333333rem;
}