@charset "UTF-8";
/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/
.popupBox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.popupBox-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  max-width: 48.2666666667rem;
  padding: 2.8rem 3.8666666667rem;
  border-radius: 1.6rem;
  background-color: #fff;
}
.popupBox .stepBarBox-item {
  -webkit-clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%) !important;
          clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%) !important;
}
.popupBox .stepBarBox-item:first-child:nth-last-child(3), .popupBox .stepBarBox-item:first-child:nth-last-child(3) ~ .popupBox .stepBarBox-item {
  -webkit-clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%);
}
.popupBox .stepBarBox-item:last-child {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
}
.popupBox .stepBarBox-item:last-child .stepBarBox-item_title {
  border-radius: 5px;
}
.popupBox .stepBarBox-item_title {
  font-size: 0.9333333333rem;
}
.popupBox .subTitleBox-subTitle {
  font-weight: 700;
}

.popup-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3333333333rem;
}
.popup-detail .subTitleBox:not(:first-child) {
  margin-top: 2.6666666667rem;
}
.popup-desc {
  font-size: 0.9333333333rem;
  font-weight: 400;
}
.popup-desc .em {
  color: #FF6202;
}
.popup-desc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2666666667rem;
}
.popup-btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
}

.subTitleBox {
  padding-bottom: 1.3333333333rem;
  border-bottom: 1px solid #E9E9E9;
}

.btn_pop i {
  font-size: 1.5333333333rem;
}