@charset "UTF-8";
/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/
.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchBox_head {
  padding: 1.3333333333rem;
  background-color: #DFDFDF;
  border-radius: 5px;
}
.searchBox_body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.searchBox_body-inner_left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.searchBox .inputBox_select .select {
  min-width: 140px;
  padding-right: 30px;
  font-size: 12px;
}
.searchBox .input_date {
  padding: 6px 10px;
  height: auto;
}
.searchBox .label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.inputGroup-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5333333333rem;
}
.inputGroup-line ~ .inputGroup-line {
  margin-top: 0.5333333333rem;
}
.inputGroup .input_text,
.inputGroup .input_date,
.inputGroup .select {
  color: #4b4b4b;
}

.buttonGroup {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.selectlocationBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.selectlocationBox-btnsWrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  border-radius: 20px;
  background-color: #DFDFDF;
}
.selectlocationBox-btnsWrap .btn {
  width: 152px;
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  color: 878787;
  border-radius: 17px;
}
.selectlocationBox-btnsWrap .btn.isActive {
  color: #FF6202;
  background-color: #fff;
}
.selectlocationBox-chksWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 468px;
  gap: 25px;
  width: 100%;
  padding: 20px 40px;
  background-color: #DFDFDF;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.selectlocationBox-section:not(:last-child) {
  border-right: 1px solid #959595;
}
.selectlocationBox-chks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}
.selectlocationBox-chks.extension {
  grid-template-columns: repeat(3, 1fr);
}
.selectlocationBox .sectionTitle {
  font-size: 1.0666666667rem;
  margin-bottom: 11px;
}