@charset "UTF-8";
/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/
.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchBox_head {
  padding: 1.3333333333rem;
  background-color: #DFDFDF;
  border-radius: 5px;
}
.searchBox_body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.searchBox_body-inner_left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.searchBox_extension .searchBox_head {
  border-radius: 0 0 10px 10px;
}
.searchBox .inputBox_select .select {
  min-width: 140px;
  padding-right: 30px;
  font-size: 12px;
}
.searchBox .input_date {
  padding: 6px 10px;
  height: auto;
}
.searchBox .label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.inputGroup-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5333333333rem;
}
.inputGroup-line ~ .inputGroup-line {
  margin-top: 0.5333333333rem;
}
.inputGroup .input_text,
.inputGroup .input_date,
.inputGroup .select {
  color: #4b4b4b;
}

.buttonGroup {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.selectlocationBox {
  position: relative;
  padding: 20px 35px;
  background-color: #DFDFDF;
  border-radius: 10px 10px 0 0;
}
.selectlocationBox::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 42px);
  height: 1px;
  background-color: #fff;
}
.selectlocationBox-tabBtns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #DFDFDF;
}
.selectlocationBox-tabBtns .btn {
  width: 152px;
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  color: 878787;
  border-radius: 17px;
}
.selectlocationBox-tabBtns .btn.isActive {
  color: #FF6202;
  background-color: #fff;
}
.selectlocationBox-section {
  display: grid;
  grid-template-columns: 110px 1fr;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.selectlocationBox-section ~ .selectlocationBox-section {
  margin-top: 15px;
}
.selectlocationBox .sectionTitle {
  font-size: 1.0666666667rem;
  font-weight: 600;
}
.selectlocationBox .chksWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 13px;
}

.fullChks input {
  display: none;
}
.fullChks input:checked + label {
  background-color: #FF6202;
  color: #fff;
}
.fullChks input:checked + label::before {
  content: "\f00c";
  font-family: "fontAwesome";
}
.fullChks label {
  padding: 5px 8px;
  border-radius: 11px;
  font-size: 0.8rem;
  background-color: #fff;
}