@charset "UTF-8";
/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/
.stepBarBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  gap: 2.5333333333rem;
}
.stepBarBox > .stepBarBox-item:nth-child(1) button {
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.stepBarBox > .stepBarBox-item:nth-child(1) .stepBarBox-item_title {
  background-color: #F7B401;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(2) button {
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.stepBarBox > .stepBarBox-item:nth-child(2) .stepBarBox-item_title {
  background-color: #F89E00;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(3) button {
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.stepBarBox > .stepBarBox-item:nth-child(3) .stepBarBox-item_title {
  background-color: #FF9000;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(4) button {
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.stepBarBox > .stepBarBox-item:nth-child(4) .stepBarBox-item_title {
  background-color: #FF6201;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(5) button {
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.stepBarBox > .stepBarBox-item:nth-child(5) .stepBarBox-item_title {
  background-color: #E83E0B;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox-item:first-child:nth-last-child(3), .stepBarBox-item:first-child:nth-last-child(3) ~ .stepBarBox-item {
  min-width: 574px;
}
.stepBarBox-item:first-child:nth-last-child(3) .stepBarBox-item_title, .stepBarBox-item:first-child:nth-last-child(3) ~ .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
}
.stepBarBox-item:first-child:nth-last-child(4), .stepBarBox-item:first-child:nth-last-child(4) ~ .stepBarBox-item {
  min-width: 408px;
}
.stepBarBox-item:first-child:nth-last-child(4) .stepBarBox-item_title, .stepBarBox-item:first-child:nth-last-child(4) ~ .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
}
.stepBarBox-item:first-child:nth-last-child(5), .stepBarBox-item:first-child:nth-last-child(5) ~ .stepBarBox-item {
  min-width: 334px;
}
.stepBarBox-item:first-child:nth-last-child(5) .stepBarBox-item_title, .stepBarBox-item:first-child:nth-last-child(5) ~ .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.stepBarBox-item:last-child .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
  border-radius: 5px 15px 15px 5px;
  width: unset;
}
.stepBarBox-item:not(:last-child) .stepBarBox-item_title {
  width: calc(100% - 7px);
}
.stepBarBox-item_title {
  position: relative;
  padding: 0.6666666667rem;
  font-size: 1.0666666667rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5px 0 0 5px;
  -webkit-clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%);
}
.stepBarBox-item_title.disable {
  color: #666;
  background-color: #f4f4f4 !important;
}

.signboadWrapBox {
  padding-top: 1rem;
}