// *컬러 & 고정값*

// 컬러
$main: #FF6202;
$sub1: #FF790D;
$sub2: #F5950C;
$btn1: #4B4B4B;
$disable: #f4f4f4;
$btn2: #D2D2D2;
$formText: #727272;

// rem 기준 사이즈
$base-font-size: 15px;

// 미디어쿼리
$query-wide: 1400px;
$query-tablet: 760px;
$query-mobile1: 580px;
$query-mobile2: 480px;

// inner 사이즈
$inner-size: 1820px;
