@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/

.cardWrapBox {
  margin-top: rem(10px);
}

.cardBox {
  display: grid;
  grid-template-columns: 1fr 23px;
  gap: rem(13px);
  padding: rem(20px);
  border-radius: 5px;
  cursor: pointer;
  & ~ & {
    margin-top: 6px;
  }
  &-inner {
    &_right {
      @include flex-box($fd: column, $jc: start) {
        gap: 3px;
      }
    }
    &_bottom {
      grid-column: 1 / 3;
      padding-top: rem(13px);
      border-top: 1px solid #edeff1;
      font-size: rem(14px);
      line-height: 1.3;
      @include ellipsis(3);
    }
  }
  &-title {
    margin-bottom: rem(17px);
    &_text {
      color: $main;
      font-size: rem(17px);
    }
    &_chk {
      .label {
        font-size: rem(15px);
      }
      .em {
        color: $main;
      }
    }
  }
  &-listItem {
    @include flex-box($jc: start, $ai: start) {
      gap: rem(10px);
    }
    font-size: rem(13px);
    color: #666;
    i {
      color: #ccc;
      padding-top: 2px;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

// 고객정보 카드
.cardWrap {
  .cardBox {
    border: 1px solid #D2D2D2;
    box-shadow: none;
    &.isActive {
      border: 1px solid $main;
    }
  }
  .cardBox ~ .cardBox {
    margin-top: 0;
  }
}

// 드래그 플러그인용 css
#cardWrapBox1,
#cardWrapBox2,
#cardWrapBox3,
#cardWrapBox4,
#cardWrapBox5 {
  min-height: 250px;
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
