@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/

.cardWrapBox {
  margin-top: rem(10px);
}

.cardBox {
  display: grid;
  grid-template-columns: 1fr 23px;
  gap: rem(13px);
  padding: rem(20px);
  border-radius: 5px;
  &-inner {
    &_bottom {
      grid-column: 1 / 3;
      padding-top: rem(13px);
      border-top: 1px solid #edeff1;
      @include ellipsis(3);
    }
  }
  &-title {
    &_text {
      color: $main;
      font-size: rem(18px);
    }
  }
}