@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/

* {
  font-family: 'Pretendard';
}

.mt10 {
  margin-top: rem(10px);
}
.mt20 {
  margin-top: rem(20px);
}
.mt30 {
  margin-top: rem(30px);
}
.mt40 {
  margin-top: rem(40px);
}
.mt50 {
  margin-top: rem(50px);
}
.mb10 {
  margin-bottom: rem(10px);
}
.mb20 {
  margin-bottom: rem(20px);
}
.mb30 {
  margin-bottom: rem(30px);
}
.mb40 {
  margin-bottom: rem(40px);
}
.mb50 {
  margin-bottom: rem(50px);
}

// 레이아웃css
.wrap {
  background-color: #EEEFF1;
  overflow-x: hidden;
}

.main {
  min-height: calc(100vh - 184px);
  padding-top: rem(82px);
}

.main-inner {
  width: $inner-size;
  margin: 0 auto;
}

.commonPageBox_ly {
  @include flex-box($ai: stretch, $fd: column) {
    gap: rem(20px);
  }
}

.contentsBox_ly {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: rem(20px);
}

.tableBox_ly {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: rem(15px);
}


// 카테고리 타이틀 & lnb
.lnb {
  @include flex-box($jc: between);
  &-link {
    position: relative;
    font-size: rem(18px);
    font-weight: 600;
    &.isActive {
      color: $main;
    }
    &:not(:last-child) {
      margin-right: rem(15px);
      &::after {
        content: '\f105';
        font-family: fontAwesome;
        position: absolute;
        right: -13px;
        top: 51%;
        transform: translateY(-50%);
        font-size: 10px;
      }
    }
  }
}

// 각 백그라운드 박스 shadow효과
.box {
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

// 버튼, 셀렉트, 인풋, 라벨 - 단독
.btn {
  @include reset-btn;
  @include inline-flex;
  height: rem(27px);
  gap: rem(5px);
  font-weight: inherit;
  cursor: pointer;
  &_xxs {
    @include wh(rem(22px), rem(22px));
    border-radius: 3px;
    font-size: rem(13px);
    color: #000;
    background-color: #edeff1;
  }
  &_xs {
    @include wh(rem(30px), rem(30px));
    background-color: #fff;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    font-size: rem(16px);
    &_tran {
      background-color: transparent;
      border: none;
      color: #494B4C;
    }
    &_gray {
      border: none;
      font-size: rem(13px);
      color: #fff;
      background-color: #666;
    }
  }
  &_s {
    border-radius: 3px;
    padding: rem(4px) rem(10px);
    font-size: rem(10px);
    &_del {
      background-color: #F4F4F4;
      border: 1px solid #D7D7D7;
      padding: rem(3px) rem(8px);
      font-size: rem(12px);
      color: #4B4B4B;
      display: none;
      &.start {
        align-self: flex-start;
      }
    }
    &_outline {
      border: 1px solid #E9E9E9;
    }
  }
  &_m {
    padding: 0 rem(13px);
    border-radius: 3px;
    font-size: rem(13px);
    color: #fff ;
    height: 34px;
    i {
      padding-top: 4px;
    }
    &_primary {
      background-color: $main;
    }
    &_secondary {
      background-color: $sub1;
      i {
        padding-top: 3px;
      }
    }
    &_excel {
      background-color: #107C41;
    }
    &_back {
      background-color: #999;
    }
    &_cancel {
      background-color: #666;
    }
    &_search {
      min-width: rem(130px);
      color: #fff;
      background-color: $main;
    }
    &_align {
      color: #969495;
      padding: rem(5px);
      font-size: 18px;
      &.isActive {
        color: $main;
      }
    }
    &.disable {
      background-color: #71706E;
    }
  }
  &_l { 
    padding: rem(12px) 0;
    height: rem(40px);
    border-radius: 3px;
    color: #fff;
    &_reg {
      min-width: rem(140px);
      background-color: $main;
      font-size: rem(14px);
    }
    &_cl {
      min-width: rem(80px);
      background-color: #656565;
    }
  }
  &_full {
    @include wh(100%, 50px);
    background-color: #F3F7FD;
    border-radius: 3px;
    border: 1px solid #D2D2D2;
    font-size: rem(16px);
    font-weight: 600;
    color: $btn1;
  }
  &_arrow {
    @include wh(rem(15px), rem(15px));
    background-color: #EDEEF2;
    color: #ADAEAF;
    border-radius: 6px;
    font-size: 10px;
    &.prev {
      margin-right: rem(10px);
    }
    &.next {
      margin-left: rem(10px);
    }
  }
  &_num {
    height: rem(18px);
    line-height: rem(15px);
    font-size: rem(13px);
    color: #777777;
    &.isActive {
      color: $main;
      font-weight: 700;
    }
  }
}
.select,
.input_text,
.input_date {
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}
.label {
  font-size: rem(12px);
  font-weight: 600;
  strong {
    font-size: rem(16px);
  }
  &_file {
    margin-right: rem(11px);
  }
  &_form {
    font-size: inherit;
    font-weight: inherit;
  }
}
.input {
  &_text {
    min-width: 300px;
    &:disabled {
      background-color: #f1f1f1;
      border: 1px solid $btn2;
    }
    &_formInput {
      font-size: rem(14px);
      &:disabled {
        background-color: transparent;
        border: none !important;
      }
    }
  }
  &_file {
    display: none;
  }
  &_radio {
    display: none;
    &:checked + .radioChk {
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        @include wh(7px, 7px);
        border-radius: 50%;
        background-color: $main;
      }
    }
    & + .radioChk {
      position: relative;
      display: inline-block;
      @include wh(13px, 13px);
      border-radius: 50%;
      box-shadow: 0 0 0 1px inset $btn2;
      vertical-align: middle;
    }
  }
  &_date {
    &_time {
      height: rem(35px);
      border: 1px solid $btn2;
    }
  }
  &_checkbox {
    display: none;
    &:checked + .checkboxChk {
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        @include wh(7px, 7px);
        background-color: $main;
      }
    }
    & + .checkboxChk {
      position: relative;
      display: inline-flex;
      @include wh(13px, 13px);
      box-shadow: 0 0 0 1px inset $btn2;
    }
  }
}
.select {
  position: relative;
  min-width: 200px;
}
.radioBox {
  & ~ & {
    margin-left: rem(10px);
  }
}
.inputLabelGroupBox {
  @include flex-box($jc: start) {
    gap: rem(5px);
  }
}
.inputBox {
  position: relative;
  @include flex-box($jc:start) {
    gap: rem(8px);
  }
  &_select {
    background-color: #fff;
    border-radius: 3px;
    &::after {
      content: '\f078';
      @include position-center-y;
      right: 10px;
      font-family: fontAwesome;
    }
    &:has(.select_formSelect:disabled) {
      border: none !important;
      &::after {
        content: '';
      }
    }
    // &[disabled] {
    //   border: none !important;
    // }
    .select {
      -webkit-appearance: none;
      background-color: transparent;
      z-index: 9;
      font-size: rem(14px);
      color: #000;
      &_formSelect {
        &:disabled {
          border: none;
        }
      }
    }
  }
  &_textarea {
    .input_textarea {
      resize: none;
      width: calc(100% - 10px);
      height: rem(115px);
      padding: 15px;
      border: 1px solid #D2D2D2;
      border-radius: 3px;
      outline: none;
      box-sizing: border-box;
    }
  }
}
.inputWrapBox {
  background-color: #fff;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  min-width: rem(330px);
  .input_text {
    width: calc(100% - 38px);
    height: 30px;
    background-color: transparent;
    border: none;
    min-width: auto;
    box-sizing: border-box;
  }
  i {
    font-size: rem(14px);
  }
}

// 상세페이지 레이아웃 섹션나누기
.detailBox {
  @include flex-box($jc: between, $ai: start);
  gap: rem(20px);
  &-half {
    flex: 1;
    border-radius: 10px;
  }
}
.innerBox {
  padding: rem(30px);
  border-radius: 10px;
  & ~ & {
    margin-top: rem(20px);
  }
}

// 서브타이틀 제목박스
.subTitleBox {
  @include flex-box($ai: end);
  margin-bottom: 13px;
  &.sectionTitle {
    border-bottom: 1px dashed #e9e9e9;
    padding-bottom: 10px;
    margin-bottom: rem(30px);
    .subTitleBox {
      &-subTitle {
        font-size: rem(23px);
        font-weight: 700;
      }
    }
  }
  &_bt {
    justify-content: space-between;
  }
  &_st {
    justify-content: flex-start;
  }
  &-subTitle {
    position: relative;
    @include flex-box($jc:start) {
      gap: rem(10px);
    }
    font-size: rem(20px);
    font-weight: 600;
  }
  &-descText {
    font-size: rem(12px);
    color: #4B4B4B;
  }
}
.subTitleBox-subTitle ~ .subTitleBox-descText {
  margin-top: rem(10px);
}

// 텍스트
.primaryText {
  font-size: rem(12px);
  color: #4B4B4B;
}
.lightText {
  font-size: rem(16px);
  font-weight: 400;
}
.boldText {
  font-size: rem(22px);
  font-weight: 600;
}
.getFileNameText {
  font-size: rem(13px);
  font-weight: 600;
  color: #777;
  & + .btn {
    grid-column: -1 / -1;
  }
}
.popupSubTitleText {
  position: relative;
  padding-left: rem(10px);
  font-size: rem(16px);
  &::after {
    content: '';
    position: absolute;
    @include position-center-y;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: $main;
  }
}

// 파일 업로드
.uploadFileBox {
  &-inputWrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, auto));
    align-items: center;
    padding: rem(20px) rem(15px);
    border-radius: 5px;
    background-color: #f6f6f6;
  }
}
.uploadFileListBox {
  margin-top: rem(10px);
  background-color: #F3F7FD;
  border-radius: 3px;
  padding: rem(13px) rem(15px);
  &-item ~ &-item {
    margin-top: rem(13px);
  }
}
.chip {
  &_excel {
    padding: 5px 4px;
    font-size: rem(12px);
    border-radius: 3px;
    background-color: #107C41;
    color: #fff;
  }
}

// 그룹추가하기박스
.addGroupBox {
  @include flex-box($jc: between) {
    gap: rem(32px);
  }
  &-side {
    flex: 1;
  }
}

// 플렉스속성
.flex {
  &_shrink {
    flex-shrink: 0;
  }
  &_wrap {
    flex-wrap: wrap;
  }
  &_jc_st {
    @include flex-box($jc:start);
  }
  &_jc_bt {
    @include flex-box($jc:between);
  }
}

// 그리드속성
.grid {
  &_col2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20px);
  }
}

// 권한 체크 영역
.chkAreaBox {
  @include flex-box;
  height: 320px;
  background-color: #F3F7FD;
  .innerText {
    font-size: rem(20px);
    color: #4B4B4B;
  }
}