@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/

// 폼박스
.infoBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #D2D2D2;
  & ~ & {
    margin-top: rem(13px);
  }
  &.addDelBtn {
    .btn_s_del {
      display: block;
    }
  }
  &-cate,
  &-info {
    @include inline-flex;
  }
  &-info {
    color: $formText;
  }
  &-cate {
    &.em {
      background-color: #F3F7FD;
    }
  }
  &-inner {
    @include flex-box($jc: start);
    border-bottom: 1px solid #D2D2D2;
    background-color: #fff;
    &_full {
      grid-column: 1 / 3;
      @include flex-box($jc: start);
      .infoBox {
        &-info {
          .inputBox {
            width: 100%;
            &_select {
              max-width: 167px;
            }
            &_input {
              max-width: 265px;
              &.full {
                max-width: unset;
              }
            }
          }
        }
      }
      &_col {
        @include flex-box($fd: column);
        margin-top: 16px;
        border-bottom: none;
      }
    }
    .infoBox {
      &-cate {
        align-self: stretch;
      }
    }
  }
  &-info {
    width: calc(100% - 150px);
    padding: 8px 0 8px 15px;
    justify-content: flex-start;
    &_bt {
      justify-content: space-between;
    }
    &_desc {
      width: 100%;
      padding: 0;
      box-sizing: border-box;
      border: none;
      background-color: #f4f4f4;
    }
    &_form {
      padding-left: 15px;
      width: calc(100% - 152px);
      justify-content: space-between;
      .inputBox {
        width: 100%;
        .select,
        .input_text {
          border-radius: 5px;
        }
        &_select {
          width: 167px;
          height: 53px;
          border: 1px solid #D2D2D2;
          border-radius: 5px;
        }
        .select {
          min-width: 100%;
        }
        .input {
          &_text {
            min-width: unset;
            @include wh(100%, 35px);
            border: 1px solid #D2D2D2;
          }
        }
      }
    }
    &.offInput {
      .customSelectBox_wrap {
        width: calc(100% - 30px);
        .customSelectBox-textVal {
          width: 100%;
          @include ellipsis;
        }
      }
      .inputBox {
        display: none;
      }
      .subTitleBox_st {
        display: none;
      }
    }
    &.onInput {
      & > .btn {
        display: none;
      }
      .customSelectBox-textVal {
        display: none;
      }
      .customSelectBox_wrap {
        width: calc(100% - 120px);
      }
      & .inputBox {
        display: block;
        flex: 1;
        .input_text {
          width: calc(100% - 20px);
          border: 1px solid #D2D2D2;
        }
      }
      & > .subTitleBox_st {
        display: flex;
        gap: rem(5px);
      }
    }
    
  }
  &-cate {
    min-width: rem(100px);
    flex: 0 0 125px;
    padding: rem(20px) 0;
    background-color: #f4f4f4;
    font-size: rem(14px);
    color: #666666;
    &_search {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, auto));
      justify-content: stretch;
      gap: rem(10px);
      width: 100%;
      padding: 0 0 18px 0;
      flex: unset;
      box-sizing: border-box;
      background-color: transparent;
      & > .btn {
        max-width: 100px;
        justify-self: flex-end;
      }
    }
  }
}
// 폼박스 카테고리별 분리시
.sectionBox ~ .sectionBox {
  margin-top: rem(34px);
}
// 폼박스 내부 검색박스
.innerSearchBox {
  @include flex-box($jc:flex-start) {
    gap: rem(5px);
  }
}
// 폼박스 - 셀렉트박스 커스텀
.customSelectBox {
  position: relative;
  &_wrap {
    position: relative;
    @include flex-box($jc:start) {
      gap: rem(10px);
    }
  }
  &-btn {
    font-size: 16px;
    &_value {
      height: rem(31px);
      padding: rem(10px);
      border: 1px solid #E3E3E3;
      border-radius: 3px;
      &::after {
        content: '\f078';
        color: #BCBCBC;
        font-family: fontAwesome;
        font-size: 10px;
        font-weight: 600;
      }
    }
    &.active + .customSelectBox-options {
      display: flex;
    }
    &_option {
      i {
        pointer-events: none;
      }
    }
  }
}
.customSelectBox {
  &-options {
    @include flex-box($fd: column);
    position: absolute;
    top: 35px;
    width: max-content;
    min-width: 50px;
    padding: rem(5px) 0;
    border: 1px solid #E3E3E3;
    background-color: #fff;
    display: none;
  }
  &-textVal {
    font-size: rem(12px);
  }
}
.fa {
  &-face-smile {
    color: #0084e9;
  }
  &-face-meh {
    color: #ffcc00;
  }
  &-face-frown {
    color: #ff4734;
  }
  &-circle-xmark {
    color: #959595;
  }
}

// 커스텀셀렉박스 옵션 - 필터셀렉트박스
.filterChkListBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(20px);
  max-width: rem(240px);
  padding: rem(10px) rem(20px);
  &-inner {
    &:first-child {
      padding-right: rem(20px);
      border-right: 1px solid #DDDDDD;
    }
  }
  &-title {
    margin-bottom: rem(10px);
    color: #000;
    font-size: rem(15px);
    font-weight: 600;
  }
  label {
    font-size: rem(12px);
    font-weight: 400;
    color: #000;
  }
  .input_checkbox + .checkboxChk {
    vertical-align: text-top;
  }
  .inputLabelGroupBox ~ .inputLabelGroupBox {
    margin-top: rem(10px);
  }
  .btn {
    grid-column: 1 / 3;
  }
}
// 커스텀셀렉박스 옵션 - 등록일자
.setDateBox {
  @include flex-box($fd:column, $ai:stretch) {
    gap: rem(10px);
  }
  padding: rem(10px) rem(20px);
  .filterChkListBox-title {
    margin-bottom: 5px;
  }
  .input_date {
    border: 1px solid #E9E9E9;
    font-size: rem(13px);
    font-weight: 600;
  }
  .btnsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }
  .btn_s {
    font-size: rem(13px);
    font-weight: 400;
    color: #4B4B4B;
    &.active {
      color: $main;
      border: 1px solid $main;
      background-color: #FFF8F1;
    }
  }
}

// 폼박스 - 이력확인
.timelineBox {
  width: 100%;
  max-height: rem(302px);
  padding: rem(16px);
  overflow-y: auto;
  overflow-x: hidden;
  &-title {
    @include inline-flex;
    padding: rem(4px) rem(23px);
    border-radius: rem(30px);
    color: #000;
    background-color: #dfdfdf;
    font-size: rem(12px);
    font-weight: 600;
  }
  &-desc {
    @include flex-box($jc: start){
      gap: 8px;
    }
    &_icon {
      font-size: rem(10px);
      color: #fff;
      &.blue {
        color: #387BC9;
      }
      &.yellow {
        color: #F9C541;
      }
      &.gray {
        color: #8C8C8C;
      }
      &.red {
        color: red;
      }
    }
    &_time {
      flex-shrink: 0;
      font-size: rem(12px);
      font-weight: 600;
    }
    &_cate {
      flex-shrink: 0;
      padding: 2px 5px;
      color:#4B4B4B;
      background-color: #fff;
      border: 1px solid #959595;
      font-size: rem(9px);
    }
    &_text {
      flex-grow: 0;
      @include ellipsis;
      font-size: rem(12px);
    }
  }
  &-title ~ &-desc,
  &-desc ~ &-title,
  &-desc ~ &-desc {
    margin-top: 15px;
  }
}
// 폼박스-이력내부 스티커박스
.stickersBox {
  grid-column: 1 / 3;
  @include flex-box($jc: start) {
    gap: 5px;
    flex-wrap: wrap;
  }
}
.sticker {
  @include flex-box($jc: start) {
    gap: 10px;
  }
  padding: 0 11px;
  background-color: #fff;
  border: 1px solid $main;
  border-radius: rem(30px);
  font-size: rem(12px);
  font-weight: 600;
  color: #4B4B4B;
}

// 사업코드 텍스트
.codeListBox {
  @include flex-box($jc: start) {
    gap: 8px;
  }
  padding: rem(16px);
  font-size: rem(14px);
  font-weight: 600;
  border-radius: 3px;
  background-color: #F3F7FD;
  & ~ .infoBox {
    margin-top: rem(15px);
  }
}

//프로필박스와 탭을 감싼 박스
.profileTabs {
  align-items: stretch;
  gap: rem(20px);
}

// 프로필박스
.profileBox {
  @include flex-box($fd: column, $jc: between, $ai: stretch);
  flex: 0 0 320px;
  background-color: #fff;
  box-sizing: border-box;
  padding: rem(32px);
  border-radius: 10px;
}
.userInfoText {
  text-align: center
}
.imgBox {
  @include wh(125px, 125px);
  @include reset-bg;
  border-radius: 50%;
  margin: 0 auto;
}
.imgBox ~ .lightText {
  margin-top: rem(19px);
}
.lightText ~ .boldText {
  margin-top: rem(12px);
}

// arrow버튼탭박스
.tabBtnsBox {
  flex: 1;
  @include flex-box($fd: column, $ai: stretch) {
    gap: rem(16px);
  }
  padding: rem(33px) rem(32px);
  border-radius: 10px;
}
.tabWrapBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  gap: rem(13px);
}

$colors: (#F7B401, #F89E00, #FF9000, #FF6201, #E83E0B);
.arrowBtns {
  height: rem(43px);
  padding-left: rem(23px);
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: rem(18px);
  font-weight: 600;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);
  border-radius: 3px 0 0 3px;
  @each $color in $colors {
    $idx : index($colors, $color);
    &:nth-child(#{$idx}) {
      color: #fff;
      background-color: $color;
    }
  }
  &.disable {
    color: #666;
    background-color: #f4f4f4;
    box-shadow: none;
  }
  &:last-child {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
    border-radius: 5px 15px 15px 5px;
  }
}

// 탭버튼 하단 텍스트박스
.textBox {
  border-radius: 3px;
  font-size: rem(14px);
  &-title {
    margin-bottom: rem(10px);
    font-weight: 700;
    i {
      color: #959595;
    }
  }
  &-desc {
    font-size: rem(15px);
    padding-left: rem(20px);
    &_dot {
      position: relative;
      padding-left: rem(35px);
      &::before {
        content: '-';
        @include position-center-y;
        left: 25px;
      }
    }
  }
}
.textBox-desc ~ .textBox-desc {
  margin-top: rem(5px);
}
