@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/

// 팝업창
.popupBox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#000, 0.2);
  z-index: 10;
  &-contents {
    @include position-center;
    @include wh(100%, auto);
    max-width: rem(924px);
    padding: rem(42px) rem(58px);
    border-radius: rem(24px);
    background-color: #fff;
  }
  // 팝업창용 - 타이틀바
  .subTitleBox {
    padding-bottom: rem(20px);
    margin-bottom: rem(18px);
    border-bottom: 1px solid #E9E9E9;
    &-subTitle {
      font-size: rem(20px);
      font-weight: 700;
    }
  }

  // 팝업창용 에로우버튼
  .arrowBtns:first-child:nth-last-child(3),
  .arrowBtns:first-child:nth-last-child(3) ~ .arrowBtns {
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  }
  .arrowBtns:first-child:nth-last-child(4),
  .arrowBtns:first-child:nth-last-child(4) ~ .arrowBtns {
    clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%);
  }
  .arrowBtns:first-child:nth-last-child(5),
  .arrowBtns:first-child:nth-last-child(5) ~ .arrowBtns {
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  }

  // 팝업창용 간격 조정
  .infoBox ~ .infoBox {
    margin-top: 0;
  }
}

// 그룹(기업,기관) 검색박스
.searchGroupBox {
  .inputBox ~ .resBox {
    margin-top: rem(10px);
  }
  .input_text {
    border: 1px solid #E9E9E9;
    &::placeholder {
      color: #aaa;
    }
  }
  .resBox {
    border-radius: 3px;
    background-color: #eee;
    &-inner {
      &_res,
      &_input {
        padding: rem(10px) rem(20px);
      }
      &_res {
        @include flex-box;
        min-height: rem(150px);
        max-height: rem(150px);
        border-bottom: 1px solid #dbdbdb;
        text-align: center;
        overflow-y: auto;
        .em {
          color: $main;
        }
      }
      &_input {
        .input_text {
          flex: 1;
        }
      }
    }
  }
  .isRes {
    @include flex-box($fd:column, $ai:start);
    flex: 1;
    .btn {
      width: 100%;
      justify-content: flex-start;
    }
  }
  & + .inputLabelGroupBox {
    .label {
      font-size: rem(16px);
      .checkboxChk {
        vertical-align: middle;
      }
    }
  }
}

.popup {
  &-detail {
    @include flex-box($fd: column, $ai: stretch) {
      gap: rem(20px);
    }
    .subTitleBox:not(:first-child) {
      margin-top: rem(40px);
    }
  }
  &-desc {
    font-size: rem(14px);
    font-weight: 400;
    .em {
      color: $main;
    }
    &-btn {
      @include flex-box($jc: start){
        gap: rem(19px);
      }
    }
  }
  &-btnGroup {
    @include flex-box {
      gap: rem(6px);
    }
  }
}

.popupDetailTitle {
  padding-left: rem(10px);
  border-left: 3px solid $main;
  &:not(:first-child) {
    margin-top: rem(20px);
  }
}

.btn {
  &_pop {
    i {
      font-size: rem(23px);
    }
  }
}

