@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/

// 검색 박스
.searchBox {
  @include flex-box($jc: between);
  &_head {
    padding: rem(20px);
    background-color: #DFDFDF;
    border-radius: 5px;
  }
  &_body {
    &-inner {
      @include flex-box($jc:start) {
        gap: 5px;
      }
      &_left {
        align-items: flex-end;
      }
    }
  }
  // 대관탭 + 검색창
  &_extension {
    .searchBox_head {
      border-radius: 0 0 10px 10px;
    }
  }
  .inputBox {
    &_select {
      .select {
        min-width: 140px;
        padding-right: 30px;
        font-size: 12px;
      }
    }
  }
  .input {
    &_date {
      padding: 6px 10px;
      height: auto;
    }
  }
  .label {
    flex-shrink: 0;
  }
}
.inputGroup {
  &-line {
    @include flex-box($jc: start) {
      gap: rem(8px);
    }
    & ~ .inputGroup-line {
      margin-top: rem(8px);
    }
  }
  .input_text,
  .input_date,
  .select {
    color: #4b4b4b;
  }
}
.buttonGroup {
  align-self: flex-end; 
}

// 대관 탭박스
.selectlocationBox {
  position: relative;
  padding: 20px 35px;
  background-color: #DFDFDF;
  border-radius: 10px 10px 0 0;
  display: none;
  &.isActive {
    display: block;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 42px);
    height: 1px;
    background-color: #fff;
  }
  &-tabBtns {
    @include inline-flex($jc: start);
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #DFDFDF;
    .btn {
      @include wh(152px, 35px);
      font-size: rem(15px);
      font-weight: 600;
      color: 878787;
      border-radius: 17px;
      &.isActive {
        color: $main;
        background-color: #fff;
      }
    }
  }
  &-section {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 10px;
    align-items: flex-start;
    & ~ & {
      margin-top: 15px;
    }
  }
  .sectionTitle {
    font-size: rem(16px);
    font-weight: 600;
  }
  .chksWrap {
    @include flex-box($jc: start) {
      flex-wrap: wrap;
      gap: 13px;
    }
  }
}

.fullChks {
  input {
    display: none;
    &:checked {
      & + label {
        background-color: $main;
        color: #fff;
        &::before {
          content: '\f00c';
          font-family: 'fontAwesome';
        }
      }
    }
  }
  label {
    padding: 5px 8px;
    border-radius: 11px;
    font-size: rem(12px);
    background-color: #fff;
  }
}