@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/

// 검색 박스
.searchBox {
  @include flex-box($jc: between);
  &_head {
    padding: rem(20px);
    background-color: #DFDFDF;
    border-radius: 5px;
  }
  &_body {
    &-inner {
      @include flex-box($jc:start) {
        gap: 5px;
      }
      &_left {
        align-items: flex-end;
      }
    }
  }
  .inputBox {
    &_select {
      .select {
        min-width: 140px;
        padding-right: 30px;
        font-size: 12px;
      }
    }
  }
  .input {
    &_date {
      padding: 6px 10px;
      height: auto;
    }
  }
  .label {
    flex-shrink: 0;
  }
}
.inputGroup {
  &-line {
    @include flex-box($jc: start) {
      gap: rem(8px);
    }
    & ~ .inputGroup-line {
      margin-top: rem(8px);
    }
  }
  .input_text,
  .input_date,
  .select {
    color: #4b4b4b;
  }
}
.buttonGroup {
  align-self: flex-end; 
}

// 대관 탭박스
.selectlocationBox {
  @include flex-box($fd: column, $ai: start) {
    gap: 10px;
  }
  &-btnsWrap {
    @include inline-flex($jc: start);
    padding: 3px;
    border-radius: 20px;
    background-color: #DFDFDF;
    .btn {
      @include wh(152px, 35px);
      font-size: rem(15px);
      font-weight: 600;
      color: 878787;
      border-radius: 17px;
      &.isActive {
        color: $main;
        background-color: #fff;
      }
    }
  }
  &-chksWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 468px;
    gap: 25px;
    width: 100%;
    padding: 20px 40px;
    background-color: #DFDFDF;
    border-radius: 10px;
    box-sizing: border-box;
  }
  &-section {
    &:not(:last-child) {
      border-right: 1px solid #959595;
    }
  }
  &-chks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    &.extension {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .sectionTitle {
    font-size: rem(16px);
    margin-bottom: 11px;
  }
}