@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
* 클래스명 지정 의미
* @ 블록
* @ 블록_구분
* @ 블록_구분-엘리먼트
* @ 블록-엘리먼트
* @ 블록-엘리먼트_구분
* @ 블록-엘리먼트_구분1_구분2
* @ 상태(ex:isActive)
*/

// 스탭바(간판) - 드래그앤드롭용
$colors: (#F7B401, #F89E00, #FF9000, #FF6201, #E83E0B);
.stepBarBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  gap: rem(38px);
  @each $color in $colors {
    $idx : index($colors, $color);
    & > &-item:nth-child(#{$idx}) {
      button {
        border: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
      }
      .stepBarBox-item_title {
        background-color: $color;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
      }
    }
  }
  &-item {
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ & {
      min-width: 574px;
      .stepBarBox-item_title {
        clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
      }
    }
    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ & {
      min-width: 408px;
      .stepBarBox-item_title {
        clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
      }
    }
    &:first-child:nth-last-child(5),
    &:first-child:nth-last-child(5) ~ & {
      min-width: 334px;
      .stepBarBox-item_title {
        clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
      }
    }
    &:last-child {
      .stepBarBox-item_title {
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
        border-radius: 5px 15px 15px 5px;
        width: unset;
      }
    }
    &:not(:last-child) {
      .stepBarBox-item_title {
        width: calc(100% + -7px);
      }
    }
    &_title {
      position: relative;
      padding: rem(10px);
      font-size: rem(16px);
      font-weight: 600;
      color: #fff;
      border-radius: 5px 0 0 5px;
      clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%);
      &.disable {
        color: #666;
        background-color: $disable !important;
      }
    }
  }
}

// 간판+네임카드 박스
.signboadWrapBox {
  // padding-top: rem(15px);
}